.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fc72fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

#susanna-1 {
  height: 800px;
  border-radius: 50px;
}

header, h1, .entry {
  padding: 50px;
  margin: 0px;
}

h1 {
  background-color: #fdaffc;
  font-size: 4.5rem;
}

h2{ 
  text-decoration: underline;
}

ul{
  
list-style-position: inside;
}

#day1 {
  background-color: #fec9fe;
}

#day2 {
  background-color: #feddfe;
}

#day3 {
  background-color: #fecefd;
}

#day4 {
  background-color: #deafdd;
}

#day5 {
  background-color: #eebeed;
}

#day6{
  background-color: #ffe2d5;

  #day6 {
    background-color: #f6c9d3;
  }
}

.entry {
  font-size: 1.5rem;
}

code {
  background-color: white;
  color: black;
}

#tsloop, #jsloop {
  border-radius: 15px;
}
.song-of-the-day {
  font-size: 1rem;
}
.song-of-the-day img {
  height: 230px;
}

#secondsun {
  height: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
